---
import { Container } from '@littlesticks/odyssey-theme-components';
import "../../../styles/index.css"
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
			<slot name="text-container"></slot>
		</div>
		<div class="hero-section__image">
			<slot name="image-container">
			</slot>
		</div>
	</section>
</Container>