---
import { Icon } from 'astro-icon';
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
import "../../../styles/index.css";
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>The mobile phone platform for professional teams.</h1>
				<p>
					Mobile phone stipends are expensive and labor-intensive. Verbind’s platform bundles employees under one plan, enabling you to give everyone on-the-go connectivity, hassle-free.
				</p>
				<div class="hero-btns__container">
					<Button href="mailto:hello@getverbind.com" customIcon
						>Contact Us
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
					<!-- <Button href="/theme/style-guide" unelevated>Contact Us</Button> -->
				</div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
				<picture>
					<img
						src="assets/images/home/iphone-hero-cropped.png"
						alt="Astro Odyssey"
						id="home-hero-image"
					/>
				</picture>
		</div>
	</section>
	<section>
		<h4 class="text-sky-400 text-center hidden md:block text-primary-400">Built on the world's most reliable networks</h4>
		<div class="logo-container hidden md:flex">
			<div class="logo-column ">
				<img src="assets/images/home/companies/verizon.png" alt="Logo 1">
			</div>
			<div class="logo-column">
				<img src="assets/images/home/companies/tmobile.png" alt="Logo 2">
			</div>
			<div class="logo-column">
				<img src="assets/images/home/companies/vodafone.png" alt="Logo 3">
			</div>
			<div class="logo-column">
				<img src="assets/images/home/companies/ntt.png" alt="Logo 4">
			</div>
		</div>
	</section>
	
</Container>
